* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: black;
  height: 20vh;
}

.contact {
  color: rgb(190, 19, 209);
}

.footer-icon {
  color: greenyellow;
  width: 1.5rem;
  height: 1.5rem;
}

.email {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.label {
  font-size: 1.2rem;
}

input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 0.5rem;
  width: 90%;
}

input:focus {
  outline: 2px solid #4a90e2; /* Contorno azul al hacer clic */
  background-color: #e6f7ff; /* Fondo azul claro al hacer clic */
}

.true {
  color: rgb(22, 224, 15);
}

.false {
  color: rgb(248, 9, 9);
}

.set {
  color: blue;
}
