.footer {
  background-color: rgb(16, 51, 67);
}

.footer_contact {
  color: rgb(102, 205, 102);
}

.footer_icon {
  color: rgb(255, 210, 105);
  width: 2rem;
  height: 2rem;
}

.footer_icon:hover {
  transform: scale(1.3);
  transition: 1.5s ease;
}
