.input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 0.5rem;
  width: 100%;
}

.input:focus {
  outline: 2px solid rgb(102, 205, 102); /* Contorno azul al hacer clic */
  background-color: #e6f7ff; /* Fondo azul claro al hacer clic */
}
