.main {
  background-color: rgb(245, 245, 245);
}

.container_content {
  min-height: 85vh;
}

.title {
  color: rgb(22, 60, 77);
}

.positive {
  color: rgb(102, 205, 102);
}

.negative {
  color: rgb(248, 9, 9);
}
